{% load static from staticfiles %}
{% load i18n %}

<article class="tickets" id="end">
    <div class="tickets-inside">
        <h2 class="red title">{% trans 'Muchas gracias a todos :)' %}</h2>
        <p>{% trans 'Si te has perdido alguna charla, no desesperes: pondremos todos los vídeos a disposición pública próximamente.' %}</p>
    </div>
</article>
