{% load static from staticfiles %}
{% load url from future %}
{% load i18n %}

 <footer id="contacto">
    <div class="footer-inside">
        <div class="footer-menu">
            <ul>
                <li><a class="logo-footer" href="#">PyCon 2013</a></li>
                {% comment %}
                <li><a href="#tickets"><span class="white">{ }</span> {% trans 'Entradas' %}</a></li>
                {% endcomment %}
                <li><a href="#informacion"><span class="white">{ }</span> {% trans 'Información' %}</a></li>
                <li><a href="#alojamiento"><span class="white">{ }</span> {% trans 'Alojamiento' %}</a></li>
                <li><a href="#patrocinadores"><span class="white">{ }</span> {% trans 'Patrocinadores' %}</a></li>
                <li><a href="#agenda"><span class="white">{ }</span> {% trans 'Agenda' %}</a></li>
                <li>&nbsp;</li>
                <li><a href="#" id="legal-terms" class="more-info-footer"><span class="red">{ }</span> {% trans 'Aviso legal' %}</a></li>
                <li><a href="#" id="code-of-conduct" class="more-info-footer"><span class="red">{ }</span> {% trans 'Código de conducta' %}</a></li>
            </ul>
        </div><!-- footer-menu -->
        <div class="footer-newsletter">
            <h2 class="white">Newsletter</h2>
            <form method="POST" action="{% url 'newsletter:subscribe_newsletter' %}" id="newsletter-form">
                {%csrf_token%}
                <span>{% trans 'Suscríbete!' %}</span>
                <input name="user_email" type="text" placeholder="{% trans 'Email' %}"/>
                <p id="newsletter-message"></p>
                <a href="#" id="subscribe-newsletter" class="button">{% trans 'Enviar' %}</a><br><br>
                <a href="{% url 'newsletter:latest_newsletter' %}" target="_blank" class="link-yellow">>>> {% trans 'Ver última newsletter' %}</a>
            </form>
        </div><!-- footer-newsletter -->
        <div class="footer-contacto">
            <h2 class="white">{% trans 'Contacta con nosotros' %}</h2>
            <p style="color: #ffffff">{% trans 'Escríbenos a' %} <a href="mailto:contacto2013@es.pycon.org">contacto2013@es.pycon.org</a> {% trans 'o rellena el siguiente formulario' %}</p>
            <form method="POST" id="contact-us-form" action="{% url 'contact_us' %}">
                {%csrf_token%}
                <span>{% trans 'Nombre' %}:</span>
                <input name="name" type="text" placeholder="{% trans 'Nombre' %}"/>
                <span>{% trans 'Email' %}:</span>
                <input name="contact_email" type="text" placeholder="{% trans 'Email' %}"/>
                <span>{% trans 'Mensaje' %}:</span>
                <textarea name="message"></textarea>
                <p id="contact-us-message"></p>
                <a href="#" id="contact-us" class="button">{% trans 'Enviar' %}</a>
            </form>
        </div><!-- footer-contacto -->
        {% comment %}<div id="footer-copy">Copyright © 1990-2013, Python Software Foundation</div>{% endcomment %}
    </div><!-- footer-inside -->
</footer>

