{% load static from staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% trans 'PyCon España 2013' %}</title>
        <meta name="description" content="Comunidad Internacional de Python">
        <meta name="viewport" content="width=device-width">
        <!-- Google fonts -->
        <link rel="icon" href="{% static 'web/img/favicon.ico'%}" type="image/x-icon">
        <link rel="shortcut icon" href="{% static 'web/img/favicon.ico'%}" type="image/x-icon">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <!-- Flexslider -->
        <link rel="stylesheet" href="{% static 'web/css/flexslider.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    </head>
    <body>
        {% include 'web/header.html' %}
        {% include 'web/language_selector.html' %}
        {% include 'web/end.html' %}
        {% include 'web/info.html' %}
        {% include 'web/skyline.html' %}
        {% include 'web/data.html' %}
        {% include 'web/accommodation.html' %}
        {% include 'web/sponsors.html' %}
        <div class="imagen-landscape1">
            <div class="imagen-landscape-inside">
                <div class="imagen-pie">
                    <p>PyCon Santa Clara 2013</p>
                    <p><a href="http://www.flickr.com/photos/jaaaarel/" target="_blank">{% trans 'Foto: Jaaaarel' %}</a></p>
                </div>
            </div>
        </div><!-- imagen-landscape1 -->
        {% include 'web/schedule.html' %}
        <div class="imagen-landscape2">
            <div class="imagen-landscape2-inside">
                <div class="imagen-pie">
                    <p>PyCon Santa Clara 2013</p>
                    <p><a href="http://www.flickr.com/photos/jaaaarel/" target="_blank">{% trans 'Foto: Jaaaarel' %}</a></p>
                </div>
            </div>
        </div><!-- imagen-landscape2 -->

        {% include 'web/code_of_conduct.html' %}
        {% include 'web/legal_terms.html' %}
        {% include 'web/footer.html' %}
    </body>

    <script src="{% static 'web/js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'web/js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'web/js/web.js' %}"></script>

    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5340683-11']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
</html>
